a {
    margin-left:  12px;
}

h1 {
    width: 400px;  
    font-size: 36px;
    margin-bottom: 0; 
}
h2 {
    width: 400px;
    font-size: 36px;
    border-bottom-width: 1px grey;
    margin-bottom: 8px;
}

h3 {
    width: 400px;
    font-size: 20px;
    margin-bottom: 0;
}

#header {
    margin-bottom: 32px;
    text-align: center;
}

#footer{
    margin-top: 64px;
    text-align: center;
}
